.contact {
	padding-bottom: 70px;
	&__text {
		padding: 40px 0;
	}
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__input {
		font-size: 1.6rem;
		font-weight: 500;
		color: $black;
		border: none;
	}
	&__label {
		display: flex;
		flex-direction: column;
		padding: 20px;
		margin-bottom: 20px;
		font-size: 1.6rem;
		font-weight: 500;
		color: $button-border;
		border: 1px solid $button-border;
		border-radius: 48px;
	}
	&__button {
		height: 85px;
		background-color: $highlight-blue;
		font-size: 1.6em;
		font-weight: 500;
		color: $pure-white;
		border: none;
		border-radius: 48px;
		cursor: pointer;
	}
	@media (min-width: 992px) {
		padding-bottom: 90px;
		.paragraph {
			width: 60%;
		}
		&__form {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
		}
		&__label {
			margin-bottom: 0;
		}
	}
}
