.featured {
	&__text {
		padding: 40px 0;
	}
	&__image {
		margin-bottom: 20px;
		min-height: 250px;
		height: 450px;
		width: 100%;
		object-fit: cover;
	}
	@media (min-width: 768px) {
		&__images {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 25px;
		}
		&__image {
			margin: 0;
			&--one {
				grid-column-start: 1;
				grid-column-end: 2;
			}
			&--two {
				grid-column-start: 2;
				grid-column-end: 4;
			}
			&--three {
				grid-column-start: 1;
				grid-column-end: 3;
			}
			&--four {
				grid-column-start: 3;
				grid-column-end: 4;
			}
		}
	}
	@media (min-width: 992px) {
		&__text {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.button--blue {
			margin: 0;
		}
		.section-paragraph {
			width: 60%;
		}
	}
}
