.footer {
	background-color: $highlight-blue;
	padding-bottom: 30px;
	&__logo {
		font-size: 3rem;
		font-weight: 700;
		text-decoration: none;
		color: $pure-white;
	}
	&__btn-box {
		display: none;
	}
	&__link-box {
		padding: 50px 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 30px;
	}
	&__list {
		&--media {
			display: flex;
		}
	}
	&__header {
		font-size: 1.8rem;
		font-weight: 600;
		color: $pure-white;
		&--connect {
			margin-bottom: 15px;
		}
	}
	&__item {
		padding: 15px 0;
		font-size: 1.5rem;
		font-weight: 500;
		list-style: none;
	}
	&__link {
		color: $pure-white;
		text-decoration: none;
	}
	.fa-brands {
		margin-right: 10px;
	}
	&__copyright-paragraph {
		font-size: 1.5rem;
		font-weight: 500;
		color: $pure-white;
		text-align: center;
	}
	@media (min-width: 992px) {
		padding-bottom: 40px;
		&__logo-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
		&__logo {
			font-size: 6rem;
		}
		&__btn-box {
			display: flex;
		}
		&__btn-box-paragraph {
			align-self: center;
			padding: 0 30px;
			font-size: 1.8rem;
			font-weight: 500;
			color: $pure-white;
		}
		&__btn-box-button {
			padding: 15px 25px;
			height: 65px;
			width: 185px;
			font-size: 1.5rem;
			font-weight: 500;
			background-color: $pure-white;
			color: $highlight-blue;
			border: none;
			border-radius: 32px;
			cursor: pointer;
		}
		&__header {
			&--connect {
				display: none;
			}
		}
		&__link-box {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			& div:last-child {
				grid-column: 1/3;
				grid-row: 1/2;
			}
		}

		&__link {
			.fa-brands {
				font-size: 3.6rem;
				margin-right: 40px;
			}
		}
		&__copyright-paragraph {
			font-size: 1.8rem;
			text-align: left;
		}
	}
}
