.team {
	&__text {
		padding: 40px 0;
	}
	&__image {
		margin-bottom: 20px;
		min-height: 250px;
		height: 450px;
		width: 100%;
		object-fit: cover;
	}
	@media (min-width: 768px) {
		&__images {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 25px;
		}
		&__images-list {
			min-width: 300px;
			list-style: none;
			&--one {
				grid-column: 1/2;
			}
			&--two {
				grid-column: 2/4;
			}
		}
	}
	@media (min-width: 992px) {
		&__text {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.button--blue {
			margin: 0;
		}
		.paragraph {
			width: 60%;
		}
	}
}
