@import './colors';
@import './components';
@import './contact';
@import'./header';
@import'./hero';
@import'./featured';
@import'./footer';
@import'./team';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: $pure-white;
}









